# Node Environment
node_modules/
.npm/

# Backend Uploads
server/uploads/

# Python Environment (AI Service)
ai_service/venv/
__pycache__/
*.pyc
.pytest_cache/

# Massive Datasets & Image Archives
ai_service/data/
ai_service/ISIC-images/
*.csv
*.zip

# AI Models & Logs
*.keras
*.h5
*.tflite
*.pb
*.log

# Frontend Build
client/dist/

# OS Files
.DS_Store
Thumbs.db

ISIC-images
